html {height: 100%;}

body {
  margin: 0;
  height: 100%;
  background-color: #000000;
  font-family: SourceCodePro, sans-serif ;
  font-size: 1.2vw;
  background-size: 400% 400%;
  }

a {
  text-decoration: none;
  color: #c8c8c8;
}

/*headings*/
h1{
  margin:0;
  font-size: 250%;
  color: #ffffff;
}

h2{
  margin:0;
  font-size: 200%;
  color: #c8c8c8;
}

h3{
  margin:0;
  font-size: 150%;
  color: #646464;
}





#container {
  background-color: #191919;
  width: 80%;
  min-height: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  color: #969696;
}

#header {
  background-color: #000000;
  color: #ffffff;
  padding: 5px;
  text-align: bottom;
  text-align: center;
}

#content {
  padding: 10px;
  padding-bottom: 2.5rem;    /* extra space for footer's height */
}

#nav {
  width: 180px;
}

#nav ul {
  list-style-type: none;
  padding: 0;
}

#nav .selected {
  font-weight: bold;
}



/* FOOTER CODE ---DO NOT TOUCH--- */
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  background-color:#000000;
  color: #ffffff;
  text-align: right;
  font-size: 80%;
}
/* FOOTER CODE ---DO NOT TOUCH--- */
