body {
  background-color: #EEE;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #ff0000;
}

h1. h2, h3{
  margin:0;
}

#container {
  background-color: #afafaf;
  position: relative;
  min-height: 100vh;
}

#header {
  background-color: #000000;
  color: #afafaf
  text-align:center;
  padding:10px;
}

#content {
  padding: 10px;
  padding-bottom: 2.5rem;    /* Footer height */
}

#nav {
  width: 180px;
}

#nav ul {
  list-style-type: none;
  padding: 0;
}

#nav .selected {
  font-weight: bold;
}

#main {
  width=600px;
  float: right;
}

#footer {
  clear: both;
  padding: 10px;
  background-color: #999999;
  color: white;
  text-align: right;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
